/* .country-body {
  padding-top: 77px;
}
.search-country {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f54e59;
  padding-top: 10px;
  z-index: 777;
  transition: all 0.2s ease;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: padding 0.2s ease;
  padding: 2px;
}
.arrow-container:hover {
  padding: 4px;
}
.search-country.not-vis {
  transform: translateY(-75px);
}
.search-country label {
  color: white;
}
#search-country-ul {
  display: flex;
  list-style: none;
  padding: 10px 15px;
  overflow-x: scroll;
}


::-webkit-scrollbar {
  height: 0px;
}
#search-country-ul li {
  border: 1px solid transparent;
  margin-right: 10px;
  padding: 10px;
  transition: border 0.2s ease;
}
#search-country-ul li a {
  color: white;
}
#search-country-ul li:hover {
  border-color: white;
}
.country-grid {
  gap: 40px;
  row-gap: 70px;
  padding: 60px 20px;
  margin: auto;
  background-color: #f6f6f6;
}
.area {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  padding: 40px 0px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.area h3 {
  display: flex;
  align-items: center;
  height: 160px;
  width: 300px;
  letter-spacing: 20px;
  font-size: 2.5rem;
  opacity: 0.8;
}
.flag-container {
  height: 160px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  filter: blur(2px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.country-meal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}
.country-meal-card:hover img {
  transform: scale(1.36);
}
.area-meal-img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.area-meal-info-container {
  width: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  line-height: 25px;
}
.area-meal-img-container img {
  width: 100%;
  transform: scale(1.3);
  transition: transform 0.2s ease;
}

.American {
  background-image: url("../assets/flags/us.png");
}
.British {
  background-image: url("../assets/flags/gb.png");
}
.Canadian {
  background-image: url("../assets/flags/ca.png");
}
.Chinese {
  background-image: url("../assets/flags/cn.png");
}
.Dutch {
  background-image: url("../assets/flags/nl.png");
}
.Egyptian {
  background-image: url("../assets/flags/eg.png");
}
.Indian {
  background-image: url("../assets/flags/in.png");
}
.Croatian {
  background-image: url("../assets/flags/hr.png");
}
.Japanese {
  background-image: url("../assets/flags/jp.png");
}
.Greek {
  background-image: url("../assets/flags/gr.png");
}
.French {
  background-image: url("../assets/flags/fr.png");
}
.Italian {
  background-image: url("../assets/flags/it.png");
}
.Irish {
  background-image: url("../assets/flags/ie.png");
}
.Jamaican {
  background-image: url("../assets/flags/jm.png");
}
.Polish {
  background-image: url("../assets/flags/pl.png");
}
.Portuguese {
  background-image: url("../assets/flags/pt.png");
}
.Kenyan {
  background-image: url("../assets/flags/ke.png");
}
.Mexican {
  background-image: url("../assets/flags/mx.png");
}
.Russian {
  background-image: url("../assets/flags/ru.png");
}
.Thai {
  background-image: url("../assets/flags/th.png");
}
.Turkish {
  background-image: url("../assets/flags/tr.png");
}
.Malaysian {
  background-image: url("../assets/flags/my.png");
}
.Spanish {
  background-image: url("../assets/flags/es.png");
  background-size: cover;
}
.Tunisian {
  background-image: url("../assets/flags/tn.png");
}
.Vietnamese {
  background-image: url("../assets/flags/vn.png");
}
.Moroccan {
  background-image: url("../assets/flags/ma.png");
}


@media (max-width: 900px) {
  .area {
    font-size: 2rem;
    padding: 40px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .area h3 {
    justify-content: center;
    height: 100px;
    width: 100%;

    font-size: 2rem;
  }
  .flag-container {
    height: 100px;
    width: 200px;
  }
} */

/* /////////////////////////////////////////////////////// */

.country-body {
  padding-top: 77px;
}
.search-country {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f54e59;
  padding-top: 10px;
  z-index: 777;
  transition: all 0.2s ease;
}
.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: padding 0.2s ease;
  padding: 2px;
}
.arrow-container:hover {
  padding: 4px;
}
.search-country.not-vis {
  transform: translateY(-75px);
}
.search-country label {
  color: white;
}
#search-country-ul {
  display: flex;
  list-style: none;
  padding: 10px 15px;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  height: 0px;
}
#search-country-ul li {
  border: 1px solid transparent;
  margin-right: 10px;
  padding: 10px;
  transition: border 0.2s ease;
}
#search-country-ul li a {
  color: white;
}
#search-country-ul li:hover {
  border-color: white;
}
