@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
.modal-bottom-container {
  position: relative;
  margin-top: 70px;
  bottom: 0;

  width: 200%;
}
.svg-background-modal-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.svg-background-modal-bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.modal-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
.close-btn {
  position: absolute;
  top: 5%;
  right: 4%;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 2;
}
.close-btn:hover {
  opacity: 0.7;
}
.modal-container {
  position: relative;
  width: 95%;
  height: 100vh;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: #f6f6f6;
  padding: 50px 200px 0px 200px;
  /* CHANGE PADDING IN MEDIA QUERY */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  overflow-y: auto;
}
.modal-img-container {
  display: block;
  max-width: 400px;
  max-height: 400px;
  border: 1px solid #ccc;
  /* border-radius: 50%; */
  background-color: #ccc;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  z-index: 2;
}
.modal-img-container img {
  width: 100%;
}
.meal-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.5rem;
  margin: 30px;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  background-color: #f54e59;

  color: white;
  /* border-bottom: 3px solid #f54e59; */
}
.meal-info {
  position: absolute;
  top: 5%;
  left: 4%;
  display: flex;
  flex-direction: column;
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; */
}
.flag {
  width: 50px;
  height: 50px;
  z-index: 2;
}
.food-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  z-index: 2;
}
.flag img {
  width: 100%;
}
.ingredients-container {
  width: 100%;
}
.ingredients-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-top: 10px;
  margin-bottom: 40px;
}
.ingredients-container ul {
  width: 100%;
  list-style: none;
}
.ingredient1,
.measure1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.ingredients-container ul li {
  /* border: 1px solid #ccc; */
  background-color: #eee;
  margin: 8px 0;
  padding: 5px 100px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  border-left: 3px solid #f54e59;
}
.instructions-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px 0;
}
.instructions-container {
  background-color: #eee;
}
.instructions {
  padding: 50px;
  border-left: 3px solid #f54e59;
  letter-spacing: 2px;
  line-height: 28px;
}
.buon-appetito {
  font-family: "Dancing Script", cursive;
  margin: 100px 0;
  color: #f54e59;
  font-size: 3rem;
}
.video {
  width: 100%;
  height: 500px;
  z-index: 5;
}
.recipe-source {
  margin: 30px 0 0px 0;
  z-index: 5;
}
.recipe-source a {
  color: #f54e59;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s all ease;
  border-bottom: 1px solid transparent;
  z-index: 5;
}
.recipe-source a:hover {
  border-bottom: 1px solid #f54e59;
}

/* media queries */

@media (max-width: 900px) {
  .modal-container {
    padding: 50px 40px 0px 40px;
  }
  .modal-img-container {
    /* max-width: 300px;
    max-height: 300px; */
    margin: 10px;
    width: 350px;
  }
  .food-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .flag {
    width: 40px;
    height: 40px;
  }
  .meal-title {
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 30px;
    padding: 15px 0 15px 0;
  }
  .ingredient1,
  .measure1 {
    letter-spacing: 2px;
  }
  .ingredients-container ul li {
    padding: 5px 30px;
  }
  .instructions {
    padding: 30px;
    letter-spacing: 1px;
    line-height: 27px;
  }
}
@media (max-width: 500px) {
  .modal-img-container {
    /* max-width: 300px;
    max-height: 300px; */
    margin: 10px;
    width: 300px;
  }
  .modal-container {
    width: 100%;
    overflow-x: hidden;
  }
  .ingredients-title {
    font-size: 1rem;
  }
  .ingredient1,
  .measure1 {
    letter-spacing: 1px;
  }
  .ingredients-container ul li {
    margin: 8px 0;
    padding: 5px 20px;
    justify-content: space-between;
    font-size: 0.7rem;
  }
  .instructions {
    font-size: 0.9rem;
    padding: 20px;
    letter-spacing: 0px;
    line-height: 27px;
  }
  .buon-appetito {
    font-size: 2.2rem;
  }
  .video {
    height: 400px;
  }
}
@media (max-width: 400px) {
  .modal-img-container {
    margin: 10px;
    width: 250px;
  }
}

/* --------------- flags ---------*/

.American {
  background-image: url("../assets/flags/us.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.British {
  background-image: url("../assets/flags/gb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Canadian {
  background-image: url("../assets/flags/ca.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Chinese {
  background-image: url("../assets/flags/cn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Dutch {
  background-image: url("../assets/flags/nl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Egyptian {
  background-image: url("../assets/flags/eg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Indian {
  background-image: url("../assets/flags/in.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Croatian {
  background-image: url("../assets/flags/hr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Japanese {
  background-image: url("../assets/flags/jp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Greek {
  background-image: url("../assets/flags/gr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.French {
  background-image: url("../assets/flags/fr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Italian {
  background-image: url("../assets/flags/it.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Irish {
  background-image: url("../assets/flags/ie.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Jamaican {
  background-image: url("../assets/flags/jm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Polish {
  background-image: url("../assets/flags/pl.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Portuguese {
  background-image: url("../assets/flags/pt.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Kenyan {
  background-image: url("../assets/flags/ke.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Mexican {
  background-image: url("../assets/flags/mx.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Russian {
  background-image: url("../assets/flags/ru.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Thai {
  background-image: url("../assets/flags/th.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Turkish {
  background-image: url("../assets/flags/tr.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Malaysian {
  background-image: url("../assets/flags/my.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Spanish {
  background-image: url("../assets/flags/es.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-size: cover;
}
.Tunisian {
  background-image: url("../assets/flags/tn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Vietnamese {
  background-image: url("../assets/flags/vn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Moroccan {
  background-image: url("../assets/flags/ma.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
/* food-icons */
.Beef {
  background-image: url("../assets/icons/beef.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Chicken {
  background-image: url("../assets/icons/chicken.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Dessert {
  background-image: url("../assets/icons/dessert.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Lamb {
  background-image: url("../assets/icons/lamb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Miscellaneous {
  background-image: url("../assets/icons/miscellaneous.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Pasta {
  background-image: url("../assets/icons/pasta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Pork {
  background-image: url("../assets/icons/pork.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Seafood {
  background-image: url("../assets/icons/seafood.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Side {
  background-image: url("../assets/icons/side.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Starter {
  background-image: url("../assets/icons/starter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Vegan {
  background-image: url("../assets/icons/vegan.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Vegetarian {
  background-image: url("../assets/icons/vegetarian.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Breakfast {
  background-image: url("../assets/icons/breakfast.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.Goat {
  background-image: url("../assets/icons/goat.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
