@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.hidden {
  display: none;
}
.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.hamburger:hover {
  opacity: 0.6;
}
header {
  position: relative;
  position: fixed;
  z-index: 2000;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 5px solid #f54e59;
}
.inner-header {
  width: 65%;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
header h1 {
  display: flex;
  flex: 1;
  padding: 0px 20px;
  padding-top: 2px;
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
  color: #f54e59;
}
.main-title {
  flex: 1;
  color: black;
}
.main-logo {
  width: 60px;
  padding: 5px;
}

header ul {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo img {
  width: 100%;
}

header ul li {
  padding: 10px;
  padding-bottom: 2px;
  color: black;
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease;
}
header ul li:hover {
  border-bottom: 2px solid #666;
}
.flex-end {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: auto;
}
.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 9999;
  background-color: #f6f6f6;
  border-right: 2px solid #f54e59;
  border-bottom: 2px solid #f54e59;
  opacity: 1;
  transform: translateX(0%);
  transition: transform 0.2s ease-in-out;
}
.hamburger-menu ul {
  display: flex;
  flex-direction: column;
  padding: 40px;
  list-style: none;
}
.hamburger-menu ul li {
  margin: 20px 0;
  color: black;
  border-bottom: 2px solid #f54e59;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
.hamburger-menu ul li:hover {
  opacity: 0.6;
}
.hamburger-menu ul li a {
  color: black;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
  opacity: 0.6;
}

/* animate sliding menu links on page load */
/* animate logo opacity on page load */

@media (max-width: 900px) {
  header ul {
    display: none;
  }
  .hamburger.hidden {
    display: block;
  }
}
